@model IEnumerable<ToDoLists.Models.TodoList>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">ToDoList</h2>

<p>
    @Html.ActionLink("Новая", "Record")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <td><p class="text-info">Название задачи</p></td>
        <td><p class="text-info">Срок выполнение</p></td>
        <td><p class="text-info">Сложность</p></td>
        <td><p class="text-info"></p></td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Task_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Target_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complexity)
        </td>
        <td>
            @Html.ActionLink("Удалить", "Delete", new { id=item.List_id })
        </td>
    </tr>
}

</table>
